<h1><%=@setlist.user.username%></h1>

   <p><label>Name: </label> <%=@setlist.name%></p>
   <p><label>Type of Show: </label> <%=@setlist.type_of_show%></p>
   <p><label>Location: </label> <%=@setlist.location%></p>
   <p><label>Date: </label> <%=@setlist.date%></p>

   <ol>
      <%@setlist.songs.each do |song|%>
         <li><a href="/songs/<%=song.id%>"><%=song.title%></a> -- <%=song.artist%></li><br>
      <%end%>
   </ol>
     
   <%if @setlist.user == current_user%>
      <div>
         <form action="/setlists/<%=@setlist.id%>/edit" method="GET" class="edit_and_delete">
            <input type="submit" value="Edit">
         </form>

         <form action="/setlists/<%=@setlist.id%>" method="POST"class="edit_and_delete">
            <input id="hidden" type="hidden" name="_method" value="Delete" >
            <input type="submit" value="Delete">
         </form>
      </div>
   <%end%>