<h1><%=@song.user.username%></h1>

  <p><label>Title: </label> <%=@song.title%> </p> 
  <p><label>Artist: </label> <%=@song.artist%> </p> 
  <p><label>Key: </label> <%=@song.key%></p>  
  <p><label>Duration: </label> <%=@song.duration%></p> 
  <label>Lyrics:</label><br><br> <p><%=@song.lyrics%></p> 

  <%if @song.user == current_user%>
    <div>
      <form action="/songs/<%=@song.id%>/edit" method="GET" class="edit_and_delete">
        <input type="submit" value="Edit">
      </form>

      <form action="/songs/<%=@song.id%>" method="POST" class="edit_and_delete">
        <input id="hidden" type="hidden" name="_method" value="Delete">
        <input type="submit" value="Delete">
      </form>
    </div>
  <%end%>